* {
  border: none;
  border-radius: 0px;
  font-family: Hack Nerd Font Mono;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: #1d2021;
  color: #ebdbb2;
}

tooltip {
  background: #282828;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #1d2021;
}
tooltip label {
  color: #ebdbb2;
}
#workspaces button {
  padding: 0 0.6em;
  color: #504945;
  border-radius: 4px;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#workspaces button.active {
  color: #ebdbb2;
  background: #4e635b;
}

#workspaces button.focused {
  color: #ebdbb2;
  background: #4e635b;
}

#workspaces button.urgent {
  color: #1d2021;
  background: #fb4934;
}

#workspaces button:hover {
  background: #4e635b;
  color: #ebdbb2;
}

#custom-power,
#date,
#clock,
#pulseaudio,
#cpu,
#memory,
#temperature,
#network,
#workspaces,
#mpd,
#tray {
  background: #32302f;
  padding: 0 0.6em;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 4px;
}

#tray {
  margin-right: 4px;
}

#network {
  color: #ebdbb2;
}

#pulseaudio {
  color: #ebdbb2;
}

#custom-power {
  color: #fb4934;
  background: #32302f;
}

#clock {
  color: #ebdbb2;
}

#mpd {
  background: #32302f;
  background-image: linear-gradient(62deg, #32302f 0%, #3d3d3d 100%);
  color: #ebdbb2;
}

#mpd.playing {
  background: #32302f;
  background-image: linear-gradient(
    62deg,
    #32302f 0%,
    rgba(184, 187, 38, 00) 100%
  );
  color: #ebdbb2;
}

#mpd.paused {
  background: #32302f;
  background-image: linear-gradient(
    62deg,
    #32302f 0%,
    rgba(251, 73, 52, 00) 100%
  );
  color: #ebdbb2;
}

#taskbar {
  background: #1d2021;
  padding: 0 0.6em;
  margin-right: 10px;
  margin-left: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 4px;
  color: #ebdbb2;
}

#taskbar button {
  border-radius: 4px;
  background: #32302f;
  color: #a89984;
  margin-right: 6px;
}

#taskbar button.minimized {
  border-radius: 4px;
  background: #32302f;
  color: #a89984;
}

#taskbar button.active {
  border-radius: 4px;
  background: #4e635b;
  color: #ebdbb2;
}
